@keyframes headshake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: translateX(0);
  }
}

// text reveal
.hero {
  h1 {
    opacity: 0;
    transform: translateX(-3rem);

    &.is-visible {
      opacity: 1;
      transition: opacity 1s ease, transform 1s ease;
      transform: translateY(0);
    }
  }
}

section {
  h2 {
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;

    &.is-visible {
      opacity: 1;
    }
  }

  h3,
  h4,
  h5,
  h6,
  ul {
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity 0.5s ease, transform 0.5s ease;

    &.is-visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  p {
    &:not(:has(img)) {
      opacity: 0;
      transform: translateY(2rem);
      transition: opacity 0.5s ease, transform 0.5s ease;

      &.is-visible {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.icons-list {
  img,
  ul {
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity 0.5s ease, transform 0.5s ease;

    &.is-visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.footer-container {
  &.is-visible {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

#instagramFeed {
  div[data-speed] {
    @include media-breakpoint-up(lg) {
      transition: transform 0.2s ease-out;
    }

    @include media-breakpoint-down(lg) {
      transform: none !important;
    }
  }
}
