// //
// // Base styles
// //

.accordion {
  // scss-docs-start accordion-css-vars
  --#{$prefix}accordion-bg: none;
  --#{$prefix}accordion-border-color: #{$accordion-border-color};
  --#{$prefix}accordion-btn-color: #{$accordion-button-color};
  --#{$prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon)};
  --#{$prefix}accordion-btn-icon-width: #{$accordion-icon-width};
  --#{$prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon)};
  --#{$prefix}accordion-body-padding-x: #{$accordion-body-padding-x};
  --#{$prefix}accordion-body-padding-y: #{$accordion-body-padding-y};
  // scss-docs-end accordion-css-vars
}

.accordion-button {
  font-size: $font-size-base * 1.5;
  color: var(--#{$prefix}accordion-btn-color);

  &:not(.collapsed) {
    color: var(--#{$prefix}accordion-btn-color);
    font-weight: 600;
    background-color: var(--#{$prefix}accordion-btn-bg);
    box-shadow: none; // stylelint-disable-line function-disallowed-list

    &::after {
      background-image: var(--#{$prefix}accordion-btn-active-icon);
      transform: none;
    }
  }

  // Accordion icon
  &::after {
    background-position: center;
    transition: none;
  }

  &:focus {
    box-shadow: none; // stylelint-disable-line function-disallowed-list
  }
}

.accordion-body {
  padding: var(--#{$prefix}accordion-body-padding-y) calc(var(--#{$prefix}accordion-body-padding-x) * 0.8) calc(var(--#{$prefix}accordion-body-padding-y) * 3.7)
    var(--#{$prefix}accordion-body-padding-x);
}

@include media-breakpoint-down(md) {
  .accordion-button {
    font-size: $font-size-base * 1.25;
    padding-left: 0;
    padding-right: calc(var(--#{$prefix}accordion-body-padding-x) * 0.1);
  }

  .accordion-body {
    padding: var(--#{$prefix}accordion-body-padding-y) calc(var(--#{$prefix}accordion-body-padding-x) * 0.5)
      calc(var(--#{$prefix}accordion-body-padding-y) * 3.7) calc(var(--#{$prefix}accordion-body-padding-x) * 0.5);
  }
}
