//
// Base styles
//

.card {
  &.card-team {
    .card-img {
      height: $card-team-height;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.card-team-sm {
      .card-title {
        font-size: $font-size-base * 1.4;
      }

      .card-img {
        height: $card-team-height * 0.79;
      }
    }
  }
}
