//
// Base styles
//

.card {
  &.card-team {
    .card-img {
      height: $card-team-height;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.card-team-sm {
      .card-title {
        font-size: $font-size-base * 1.4;
      }

      .card-img {
        height: $card-team-height * 0.79;
      }
    }
  }

  &.card-team-no-description {
    cursor: default;
    pointer-events: none;

    &:hover {
      opacity: 1;
    }
  }
}

@include media-breakpoint-down(md) {
  .card {
    &.card-team {
      pointer-events: none;

      .card-img {
        height: $card-team-height * 0.7;
      }

      &.card-team-sm {
        .card-img {
          height: $card-team-height * 0.7;
        }
      }
    }

    .card-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: 374.98px) {
  .card {
    &.card-team {
      .card-img {
        height: $card-team-height * 0.48;
      }

      &.card-team-sm {
        .card-img {
          height: $card-team-height * 0.48;
        }
      }
    }
  }
}
