// Transparent background and border properties included for button version.
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

.btn-close {
  // scss-docs-start close-css-vars
  --#{$prefix}btn-close-bg: #{escape-svg($btn-close-bg)};
  --#{$prefix}btn-close-opacity: #{$btn-close-opacity};
  --#{$prefix}btn-close-focus-opacity: #{$btn-close-focus-opacity};
  // scss-docs-end close-css-vars

  background: transparent var(--#{$prefix}btn-close-bg) center / $btn-close-width auto no-repeat; // include transparent for button elements

  &:focus {
    outline: 0;
    box-shadow: none;
    opacity: var(--#{$prefix}btn-close-focus-opacity);
  }
}
