// Color system

// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #96a0a3;
$gray-800: #1a2d37;
$black: #000;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue: #106ac9;
$cyan: #70badd;
$cyan-15: #ecf5fa;
$cyan-25: #deedf5;
$cyan-100: #e3f8ff;
$green: #9eb956;
$pink: #e41458;

// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue": $blue,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  "green": $green,
  "cyan-15": $cyan-15,
  "cyan-25": $cyan-25,
);
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary: $blue;
$secondary: $cyan;
$light: $white;
$dark: $gray-800;
$pink: $pink;
$success: $green;
$cyan-15: $cyan-15;
$cyan-25: $cyan-25;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "pink": $pink,
  "light": $light,
  "dark": $dark,
  "success": $green,
  "cyan-15": $cyan-15,
  "cyan-25": $cyan-25,
);
// scss-docs-end theme-colors-map
