.cover {
  &.cover-single-page {
    margin-top: 5.5rem;
    height: $cover-single-page-height;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .bg-secondary {
      --bs-bg-opacity: 0.35;
    }

    h1 {
      width: 100%;
    }
  }
}

@include media-breakpoint-down(lg) {
  .cover {
    &.cover-single-page {
      height: 10rem;
      margin-top: 4.4rem;

      .bg-secondary {
        --bs-bg-opacity: 0.6;
      }

      .h3 {
        @include heading-style(2, 0.7);
      }
    }
  }
}
