.hero {
  &.hero-single-page {
    margin-top: 5.5rem;
    height: $cover-single-page-height;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .bg-secondary {
      --bs-bg-opacity: 0.35;
    }

    h1 {
      width: 100%;
    }
  }

  &.hero-video {
    .hero-video-poster {
      display: none;
    }
  }
}

@include media-breakpoint-down(lg) {
  .hero {
    &.hero-single-page {
      height: 10rem;
      margin-top: 4.4rem;

      .bg-secondary {
        --bs-bg-opacity: 0.6;
      }

      .h3 {
        @include heading-style(2, 0.7);
      }
    }

    &.hero-video {
      height: 16rem;
      margin-top: 4.4rem;

      .hero-video-poster {
        display: block;
        height: 18rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      h1 {
        @include heading-style(1.6, 0.8);

        br {
          display: none;
        }
      }
    }
  }
}
