// Layout
section {
  &.section-left-image,
  &.section-right-image {
    &:last-child {
      margin-bottom: 5rem;
    }

    &.title-static {
      h3 {
        font-size: $font-size-base * 3.7;
      }
    }
  }
}

.col-single {
  p {
    @include heading-sans-serif();
  }
}

// Type
.horizontal-rule {
  display: flex;
  align-items: center;

  &::after {
    content: "";
    flex: 1;
    height: $border-width;
    background-color: $primary;
    opacity: 0.5;
    margin-left: $spacer;
  }
}

// WordPress
.admin-bar {
  .navbar {
    top: 2rem;

    &.navbar-scrolled {
      top: 0rem;
    }
  }
}

.wp-video {
  padding-top: 0.5rem;
  margin-bottom: 2rem;

  br {
    display: none;
  }

  .wp-video-shortcode {
    border-radius: $border-radius-lg;
    overflow: hidden;
  }
}

// Global responsive
@include media-breakpoint-down(md) {
  // Layout
  .row-cols-md-3 {
    .col {
      margin-bottom: $spacer * 2.5;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // WordPress
  .admin-bar {
    .navbar {
      top: 2.85rem;
    }
  }
}
