// Layout
section {
  &.section-left-image,
  &.section-right-image {
    &:last-child {
      margin-bottom: 5rem;
    }

    &.title-static {
      h3 {
        font-size: $font-size-base * 3.7;
        padding-left: $spacer;
      }
    }
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: $border-radius-lg;
  }
}

.col-single {
  p {
    @include heading-sans-serif();
  }
}

main {
  position: relative;
  z-index: 1;
}

footer {
  background: $dark;
  position: relative;
  z-index: -1;
}

// Type
.horizontal-rule {
  display: flex;
  align-items: center;

  &::after {
    content: "";
    flex: 1;
    height: $border-width;
    background-color: $primary;
    opacity: 0.5;
    margin-left: $spacer;
  }
}

// Home
.necc-programs-graph-container {
  position: relative;
  height: 25.5rem;
  transform: scale(0.95);
}

.necc-programs-graph-titles,
.necc-programs-graph {
  position: absolute;
  top: 3rem;
  left: 1.3rem;

  a {
    cursor: pointer;
  }
}

.necc-programs-graph-titles {
  z-index: 1;
}

.necc-programs-graph-title {
  position: absolute;
  font-family: $font-family-serif;
  font-size: $font-size-base * 1.3;
  width: max-content;

  &.graph-title-1 {
    top: 2.2rem;
    left: 3.6rem;
  }

  &.graph-title-2 {
    top: -0.7rem;
    left: 35.8rem;
  }

  &.graph-title-3 {
    top: 9.5rem;
    left: 44.3rem;
  }

  &.graph-title-4 {
    top: 19rem;
    left: 36rem;
  }

  &.graph-title-5 {
    top: 11.5rem;
    left: -1rem;
  }

  &.graph-title-6 {
    top: 22.2rem;
    left: 11.8rem;
  }
}

#instagramFeed {
  height: 60rem;
}

// iframe 16:9 aspect ratio
p:has(iframe) {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

// WordPress
.admin-bar {
  .navbar {
    top: 2rem;

    &.navbar-scrolled {
      top: 0rem;
    }
  }
}

.wp-video {
  padding-top: 0.5rem;
  margin-bottom: 2rem;

  br {
    display: none;
  }

  .wp-video-shortcode {
    border-radius: $border-radius-lg;
    overflow: hidden;
  }

  &:last-child {
    padding-top: 0;
    margin-bottom: 0;
  }
}

img {
  &.alignright,
  &.alignleft {
    width: auto !important;
    max-width: 50%;
    float: right;
    margin-left: $paragraph-margin-bottom / 2;
    margin-bottom: $paragraph-margin-bottom / 2;
  }

  &.alignleft {
    float: left;
  }
}

// Global responsive
@include media-breakpoint-down(xxl) {
  // Home
  .necc-programs-graph-container {
    transform: scale(0.87);
  }

  .necc-programs-graph-titles,
  .necc-programs-graph {
    left: -3.6rem;
  }

  #instagramFeed {
    height: 53rem;
  }
}

@include media-breakpoint-down(xl) {
  // Home
  .necc-programs-graph-container {
    transform: scale(0.75);
  }

  .necc-programs-graph-titles,
  .necc-programs-graph {
    left: -7.3rem;
  }

  #instagramFeed {
    height: 49rem;
  }
}

@include media-breakpoint-down(lg) {
  // Home
  .necc-programs-graph-container {
    transform: scale(0.8);
  }

  .necc-programs-graph-titles,
  .necc-programs-graph {
    left: -4rem;
  }

  #instagramFeed {
    height: auto;

    h4 {
      padding-bottom: $spacer * 2;
    }
  }
}

@include media-breakpoint-down(md) {
  section {
    &.section-left-image,
    &.section-right-image {
      &.title-static {
        h3 {
          font-size: $font-size-base * 2.2;
          padding-left: 0;
        }
      }
    }
  }

  // Layout
  .row-cols-md-3,
  .row-cols-md-4 {
    .col {
      margin-bottom: $spacer * 2;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // WordPress
  .admin-bar {
    .navbar {
      top: 2.85rem;
    }
  }
}

@include media-breakpoint-down(md) {
  // Home
  .programs-section {
    display: none;
  }

  #neccNumbers {
    p {
      br:not(strong + br) {
        display: none;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  img {
    &.alignright,
    &.alignleft {
      max-width: 100%;
      margin-bottom: $paragraph-margin-bottom;
    }
  }
}
