.event {
  .event-header-image {
    width: 100%;
    height: 24rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $border-radius-lg;
  }
}
