@mixin icon-caret-down {
  background: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="12px" height="7px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-6.50025,-8.50025)"><g transform="matrix(-3.82857e-16,1,-1,-3.82857e-16,24,-0.5)"><g><path d="M9.22,16.22C8.927,16.513 8.927,16.987 9.22,17.28C9.513,17.573 9.987,17.573 10.28,17.28L15.28,12.28C15.573,11.987 15.573,11.513 15.28,11.22L10.28,6.22C9.987,5.927 9.513,5.927 9.22,6.22C8.927,6.513 8.927,6.987 9.22,7.28L13.69,11.75L9.22,16.22Z" style="fill:white;"/></g></g></g></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

// social network icons
@mixin icon-instagram($fill-color) {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="22px" height="21px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-0.95459,0)"><path d="M7.078,0C3.701,0 0.955,2.749 0.955,6.127L0.955,14.877C0.955,18.253 3.704,21 7.081,21L15.831,21C19.208,21 21.955,18.251 21.955,14.873L21.955,6.123C21.955,2.747 19.205,0 15.828,0L7.078,0ZM17.58,3.5C18.063,3.5 18.455,3.892 18.455,4.375C18.455,4.858 18.063,5.25 17.58,5.25C17.097,5.25 16.705,4.858 16.705,4.375C16.705,3.892 17.097,3.5 17.58,3.5ZM11.455,5.25C14.35,5.25 16.705,7.605 16.705,10.5C16.705,13.395 14.35,15.75 11.455,15.75C8.559,15.75 6.205,13.395 6.205,10.5C6.205,7.605 8.559,5.25 11.455,5.25ZM11.455,7C10.526,7 9.636,7.369 8.98,8.025C8.323,8.682 7.955,9.572 7.955,10.5C7.955,11.428 8.323,12.319 8.98,12.975C9.636,13.631 10.526,14 11.455,14C12.383,14 13.273,13.631 13.93,12.975C14.586,12.319 14.955,11.428 14.955,10.5C14.955,9.572 14.586,8.682 13.93,8.025C13.273,7.369 12.383,7 11.455,7Z" style="fill:%23#{$fill-color};fill-rule:nonzero;"/></g></svg>');
}

@mixin icon-linkedin($fill-color) {
  background-image: url('data:image/svg+xml,<svg width="22px" height="21px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M4.773,21L0,21L0,6.682L4.773,6.682L4.773,21ZM2.387,4.773C1.067,4.773 0,3.703 0,2.385C0,1.068 1.069,0 2.387,0C3.703,0 4.773,1.07 4.773,2.385C4.773,3.703 3.703,4.773 2.387,4.773ZM21.955,21L17.366,21L17.366,14.032C17.366,12.37 17.334,10.233 14.981,10.233C12.591,10.233 12.224,12.043 12.224,13.912L12.224,21L7.636,21L7.636,6.671L12.041,6.671L12.041,8.629L12.103,8.629C12.716,7.503 14.213,6.315 16.447,6.315C21.096,6.315 21.955,9.283 21.955,13.141L21.955,21Z" style="fill:%23#{$fill-color};fill-rule:nonzero;"/></svg>');
}

@mixin icon-facebook($fill-color) {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="10px" height="20px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,0,-0.5)"><path d="M3.268,20.5L3.268,10.5L0,10.5L0,7.167L3.268,7.167L3.268,5.377C3.268,1.988 4.886,0.5 7.647,0.5C8.97,0.5 9.669,0.6 10,0.646L10,3.833L8.117,3.833C6.945,3.833 6.535,4.464 6.535,5.743L6.535,7.167L9.971,7.167L9.504,10.5L6.535,10.5L6.535,20.5L3.268,20.5Z" style="fill:%23#{$fill-color};fill-rule:nonzero;"/></g></svg>');
}

@mixin icon-youtube($fill-color) {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="23px" height="18px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-0.95459,-0.595215)"><path d="M11.955,0.595C8.413,0.595 3.815,1.444 3.815,1.444L3.804,1.457C2.191,1.704 0.955,3.03 0.955,4.642L0.955,14.358C0.956,15.128 1.245,15.872 1.768,16.457C2.292,17.042 3.017,17.43 3.812,17.549L3.815,17.554C3.815,17.554 8.413,18.405 11.955,18.405C15.497,18.405 20.094,17.554 20.094,17.554L20.096,17.553C20.892,17.433 21.617,17.045 22.141,16.46C22.665,15.874 22.954,15.129 22.955,14.358L22.955,4.642C22.953,3.872 22.665,3.127 22.141,2.542C21.618,1.956 20.893,1.569 20.097,1.449L20.094,1.444C20.094,1.444 15.497,0.595 11.955,0.595ZM9.416,5.774L16.185,9.499L9.416,13.224L9.416,5.774Z" style="fill:%23#{$fill-color};fill-rule:nonzero;"/></g></svg>');
}

.necc-social-icon {
  --social-icon-size: 1.31rem;

  display: inline-block;
  width: var(--social-icon-size);
  height: var(--social-icon-size);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.necc-social-icon-instagram {
    @include icon-instagram(ffffff);
  }

  &.necc-social-icon-instagram-dark {
    @include icon-instagram(1a2d37);
  }

  &.necc-social-icon-linkedin {
    @include icon-linkedin(ffffff);
  }

  &.necc-social-icon-linkedin-dark {
    @include icon-linkedin(1a2d37);
  }

  &.necc-social-icon-facebook {
    @include icon-facebook(ffffff);
  }

  &.necc-social-icon-facebook-dark {
    @include icon-facebook(1a2d37);
  }

  &.necc-social-icon-youtube {
    @include icon-youtube(ffffff);
  }

  &.necc-social-icon-youtube-dark {
    @include icon-youtube(1a2d37);
  }
}
