// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav-link {
  padding: $nav-link-padding-y $nav-link-padding-x;
  font-size: $nav-link-font-size;
  color: $nav-link-color;
  font-weight: $nav-link-font-weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus-visible {
    outline: 0;
    box-shadow: none;
  }
}

@include media-breakpoint-down(lg) {
  .nav-link {
    border-bottom: $border-width solid $nav-border-color;
    padding: $nav-link-padding-y * 1.7 $nav-link-padding-x;
  }

  .dropend {
    .dropdown-menu {
      padding: 0;

      .nav-link {
        padding: $nav-link-padding-y * 1.7 $nav-link-padding-x * 2;
      }
    }
  }

  .nav-item {
    &:last-child,
    li:last-child {
      .nav-link {
        border-bottom: 0;
      }
    }
  }
}
