// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  // scss-docs-start navbar-css-vars
  --#{$prefix}navbar-padding-x: #{if($navbar-padding-x == null, 0, $navbar-padding-x)};
  --#{$prefix}navbar-padding-y: #{$navbar-padding-y};
  padding: var(--#{$prefix}navbar-padding-y) var(--#{$prefix}navbar-padding-x);
  background-color: transparent;
  transition: background-color 0.2s;
  // @include gradient-bg();

  &:hover {
    background-color: $secondary;
  }

  &.navbar-scrolled {
    background-color: $secondary;

    .navbar-brand {
      .navbar-brand-logo-main {
        display: none;
      }

      .navbar-brand-logo-on-scroll {
        display: block;
      }
    }
  }
}

// Navbar brand
//
// Used for brand, project, or site names.
.navbar-brand {
  .navbar-brand-logo-on-scroll {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .navbar-brand {
    img {
      max-width: 10rem;
      height: auto;
    }

    .navbar-brand-logo-on-scroll {
      width: 2rem;
    }
  }
}

// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
  .dropdown-toggle {
    &::after {
      @include icon-caret-down(ffffff);
      display: inline-flex;
      border: 0;
      width: $spacer * 0.65;
      height: $spacer * 0.65;
      vertical-align: middle;
      margin-left: $spacer * 0.3;
    }

    &.show::after {
      transform: rotate(180deg);
    }
  }

  .dropdown-menu {
    background: $secondary;
  }

  .dropdown-item {
    &:active,
    &:focus,
    &:hover {
      background: $secondary;
    }
  }

  .dropend {
    .dropdown-toggle {
      display: flex;
      align-items: center;

      &::after {
        transform: rotate(270deg);
      }
    }
  }
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    opacity: 0.5;
  }

  &.collapsed {
    opacity: 1;
  }
}

@include media-breakpoint-down(lg) {
  .navbar-collapse {
    max-height: 76vh;
    overflow-y: auto;

    .dropdown-menu {
      background: shade-color($secondary, 10%);
      border-radius: 0;
      margin: 0;
    }

    .dropdown-item {
      &:active,
      &:focus,
      &:hover {
        background: $secondary;
      }
    }

    // third level dropdown menu
    .dropend {
      .dropdown-item {
        &:active,
        &:focus,
        &:hover {
          background: shade-color($secondary, 10%);
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .navbar {
    &.navbar-dark {
      background-color: $secondary !important;
    }
  }

  .navbar-collapse {
    .dropend {
      .dropdown-toggle {
        &::after {
          transform: rotate(0deg);
        }

        &.show::after {
          transform: rotate(180deg);
        }
      }
    }
  }
}

// scss-docs-start navbar-expand-loop
// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    // stylelint-disable-next-line scss/selector-no-union-class-name
    &#{$infix} {
      @include media-breakpoint-up($next) {
        .navbar-nav {
          .nav-link {
            padding-right: $navbar-nav-link-padding-x;
            padding-left: $navbar-nav-link-padding-x;
          }

          .dropdown,
          .dropend {
            &:hover {
              > .dropdown-menu {
                display: block;
                box-shadow: $dropdown-box-shadow;
              }
            }
          }

          .dropend {
            .dropdown-toggle {
              &::after {
                display: block;
              }
            }

            &:hover > .dropdown-menu {
              position: absolute;
              top: 0;
              left: 100%;
            }
          }

          .dropdown-menu {
            .nav-link {
              padding-right: $navbar-nav-link-padding-x * 1.7;
              padding-left: $navbar-nav-link-padding-x * 1.7;
            }
          }
        }
      }
    }
  }
}
// scss-docs-end navbar-expand-loop
