// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  // scss-docs-start navbar-css-vars
  --#{$prefix}navbar-padding-x: #{if($navbar-padding-x == null, 0, $navbar-padding-x)};
  --#{$prefix}navbar-padding-y: #{$navbar-padding-y};
  padding: var(--#{$prefix}navbar-padding-y) var(--#{$prefix}navbar-padding-x);
  // @include gradient-bg();

  &.navbar-scrolled {
    padding: 0;

    .navbar-brand {
      .navbar-brand-logo-main {
        display: none;
      }

      .navbar-brand-logo-on-scroll {
        display: block;
      }
    }
  }
}

// Navbar brand
//
// Used for brand, project, or site names.
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;

  .navbar-brand-logo-on-scroll {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-brand {
    img {
      width: 11rem;
      height: auto;
    }
  }
}

// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
  .dropdown-toggle {
    &::after {
      @include icon-caret-down();
      display: inline-flex;
      border: 0;
      width: $spacer / 1.3;
      height: $spacer / 1.3;
      vertical-align: middle;
    }

    &.show::after {
      transform: rotate(180deg);
    }
  }
}

// scss-docs-start navbar-expand-loop
// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    // stylelint-disable-next-line scss/selector-no-union-class-name
    &#{$infix} {
      @include media-breakpoint-up($next) {
        .navbar-nav {
          .dropdown,
          .dropend {
            &:hover {
              > .dropdown-menu {
                display: block;
              }
            }

            .dropdown-toggle {
              &::after {
                display: none;
              }
            }
          }

          .dropend {
            &:hover > .dropdown-menu {
              position: absolute;
              top: 0;
              left: 100%;
            }
          }
        }
      }
    }
  }
}
// scss-docs-end navbar-expand-loop
