// scss-docs-start navbar-expand-loop
// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    // stylelint-disable-next-line scss/selector-no-union-class-name
    &#{$infix} {
      @include media-breakpoint-up($next) {
        .navbar-nav {
          .dropdown,
          .dropend {
            &:hover {
              > .dropdown-menu {
                display: block;
              }
            }

            .dropdown-toggle {
              &::after {
                display: none;
              }
            }
          }

          .dropend {
            &:hover > .dropdown-menu {
              position: absolute;
              top: 0;
              left: 100%;
            }
          }
        }
      }
    }
  }
}
// scss-docs-end navbar-expand-loop
