$news-home-image-height: (
  xxl: 14.8rem,
  lg: 15rem,
  md: 22.1rem,
  sm: 16.1rem,
  xs: 11.5rem,
);

@mixin responsive-news-header {
  @each $breakpoint, $height in $news-home-image-height {
    @if $breakpoint == xs {
      @media (max-width: 349.98px) {
        height: $height;
      }
    } @else {
      @include media-breakpoint-down($breakpoint) {
        height: $height;
      }
    }
  }
}

.news {
  .news-header-image {
    display: block;
    width: 100%;
    height: 17.2rem;
    @include responsive-news-header;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $border-radius-lg;
  }
}

.news-filters {
  li {
    a {
      text-decoration: none;

      &.active {
        font-weight: $font-weight-semibold;
      }
    }
  }
}

.news-single {
  .news-single-header-image {
    width: 100%;
    height: auto;
    border-radius: $border-radius-lg;
  }

  .necc-social-icon {
    --social-icon-size: 1.13rem;

    &.necc-social-icon-x,
    &.necc-social-icon-x-dark {
      --social-icon-size: 1.12rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .news-feed {
    .news {
      display: none;

      &:first-child {
        display: flex;
      }
    }
  }
}
