.news {
  .news-header-image {
    display: block;
    width: 100%;
    height: 14.625rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $border-radius-lg;
  }
}

.news-filters {
  li {
    a {
      text-decoration: none;

      &.active {
        font-weight: $font-weight-medium;
        text-decoration: underline;
      }
    }
  }
}

.news-single {
  .news-single-header-image {
    width: 100%;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $border-radius-lg;
  }

  .necc-social-icon {
    --social-icon-size: 1.13rem;

    &.necc-social-icon-x,
    &.necc-social-icon-x-dark {
      --social-icon-size: 1.12rem;
    }
  }
}

@include media-breakpoint-down(lg) {
  .news {
    .news-header-image {
      height: 14rem;
    }
  }

  .news-single {
    .news-single-header-image {
      height: 10.5rem;
    }
  }

  .news-feed {
    .news {
      &:last-child {
        display: none;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .news {
    .news-header-image {
      height: 15rem;
    }
  }

  .news-feed {
    .news {
      &:last-child {
        display: flex;
      }
    }
  }
}
