.search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 1.4rem;

  &.search-container-expanded {
    .search-icon {
      display: none;
    }

    .search-close {
      display: block;
    }
  }
}

.search-navbar {
  top: 0.05rem;
  align-content: center;
  margin-left: $spacer * 0.4;

  .necc-icon {
    width: $spacer * 1.05;

    &.necc-icon-search-slate {
      @include icon-search(ffffff);
    }

    &.necc-icon-close-slate {
      @include icon-close(ffffff);
    }
  }

  .form-control-search {
    font-weight: $nav-link-font-weight;
    font-size: $nav-link-font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $light;

    &.form-control-search-expanded {
      border-color: $light;
      color: $light;
    }

    &::placeholder {
      color: $light;
    }
  }
}

.search-icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 1.2rem;
}

.search-close {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 0;
}

.form-control-search {
  width: 0;
  border: 0;
  border-radius: 0;
  transition: $transition-base;
  opacity: 0;
  position: absolute;
  right: 0;
  border-bottom: $border-width $border-style $gray-100;
  background: none;
  padding-left: $search-input-padding-x;
  padding-right: $search-input-padding-x;

  &.form-control-search-expanded {
    width: $search-width;
    border-color: $gray-100;
    opacity: 1;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@include media-breakpoint-down(lg) {
  .search-navbar {
    position: fixed;
    top: 2.4rem;
    right: 4rem;
  }
}

@include media-breakpoint-down(md) {
  .search-container {
    width: 100%;
  }

  .search-navbar {
    .form-control-search {
      &.form-control-search-expanded {
        width: 14.5rem;
      }
    }
  }
}
