@mixin font-face($family, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url($src) format("woff2");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face("Sabon LT Std", "../fonts/SabonLTStd-Roman.woff2");
@include font-face("Sabon LT Std", "../fonts/SabonLTStd-Bold.woff2", bold);

@include font-face("Whitney", "../fonts/Whitney-Book.woff2");
@include font-face("Whitney", "../fonts/Whitney-Semibold.woff2", 600);
@include font-face("Whitney", "../fonts/Whitney-Bold.woff2", bold);

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base * 1.2;
  font-weight: normal;
  line-height: $line-height-base * 0.9;
  color: $dark;
}

@mixin heading-style($font-size-multiplier, $line-height-multiplier: 1) {
  font-family: $font-family-serif;
  font-size: $font-size-base * $font-size-multiplier;
  font-weight: normal;
  line-height: $line-height-base * $line-height-multiplier;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: $headings-margin-bottom;
  letter-spacing: -0.01rem;
}

h2 {
  @include heading-style(5);
}

h3 {
  @include heading-style(4, 0.7);
}

h4 {
  @include heading-style(2.5, 0.7);
}

h5 {
  @include heading-style(2, 0.8);
}

h6 {
  @include heading-style(1.6, 0.8);
  font-weight: bold;
  letter-spacing: normal;
}

p {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base * 1.2;
  font-weight: normal;
  line-height: $line-height-base * 0.9;
  margin-bottom: $paragraph-margin-bottom;

  + video {
    margin-top: $paragraph-margin-bottom * 1.35;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

section {
  .bg-primary {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $white;

      a {
        color: $white;
      }
    }
  }

  &:not(.bg-primary) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $primary;
    }
  }
}

@mixin heading-sans-serif() {
  font-family: "Whitney", sans-serif;
  font-size: $font-size-base * 1.63;
  font-weight: normal;
  line-height: $line-height-base * 0.9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lead {
  @include font-size($lead-font-size);
  font-weight: $lead-font-weight;
}

.small {
  font-size: $font-size-base * 0.88;
}

.smaller {
  font-size: $font-size-base * 0.75;
}

.display-3 {
  @include heading-sans-serif();

  p {
    @include heading-sans-serif();
  }
}

.text-sans-serif {
  @include heading-sans-serif();
}

ul {
  margin-bottom: $paragraph-margin-bottom;
}

@include media-breakpoint-down(lg) {
  h2 {
    @include heading-style(4);
  }

  h3 {
    @include heading-style(3.45, 0.7);
  }

  p {
    &:last-child {
      &:has(> img) {
        margin-bottom: $paragraph-margin-bottom * 0.9;
      }
    }
  }

  .display-3 {
    font-size: $font-size-base * 1.3;
  }
}
