// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #96a0a3;
$gray-800: #1a2d37;
$black: #000;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue: #0769d2;
$cyan: #70badd;

// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue": $blue,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
);
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary: $blue;
$secondary: $cyan;
$light: $gray-100;
$dark: $gray-800;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "dark": $dark,
);
// scss-docs-end theme-colors-map

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Whitney", "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: "Sabon LT Std", serif;
// stylelint-enable value-keyword-case
$font-family-base: var(--#{$prefix}font-sans-serif);

// Components
//
// Define common padding and border radius sizes and more.

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// scss-docs-start input-btn-variables
$input-btn-padding-y: 0.69rem;
$input-btn-padding-x: 2.34rem;
$input-btn-font-family: null;
$input-btn-font-size: $font-size-base * 1.2;
$input-btn-line-height: $line-height-base * 0.9;
// scss-docs-end input-btn-variables

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-family: $input-btn-font-family;
$btn-font-size: $input-btn-font-size;
$btn-line-height: $input-btn-line-height;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: var(--#{$prefix}border-radius-pill);
// scss-docs-end btn-variables
