// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// scss-docs-start spacer-variables-maps
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
);
// scss-docs-end spacer-variables-maps

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Whitney", "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: "Sabon LT Std", serif;
// stylelint-enable value-keyword-case
$font-family-base: var(--#{$prefix}font-sans-serif);

$line-height-base: 1.5;
$line-height-xs: 0.85;
$line-height-sm: 1.25;
$line-height-lg: 2;

// Components
//
// Define common padding and border radius sizes and more.

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// scss-docs-start input-btn-variables
$input-btn-padding-y: 0.69rem;
$input-btn-padding-x: 2.34rem;
$input-btn-font-family: null;
$input-btn-font-size: $font-size-base * 1.2;
$input-btn-line-height: $line-height-base * 0.9;
// scss-docs-end input-btn-variables

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-family: $input-btn-font-family;
$btn-font-size: $input-btn-font-size;
$btn-line-height: $input-btn-line-height;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: var(--#{$prefix}border-radius-pill);
// scss-docs-end btn-variables

// Navs

// scss-docs-start nav-variables
$nav-link-font-size: $font-size-base * 1.12;
$nav-link-color: $white;
$nav-border-color: rgba($white, 0.175);
// scss-docs-end nav-variables
