// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// scss-docs-start spacer-variables-maps
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
);
// scss-docs-end spacer-variables-maps

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Whitney", "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: "Sabon LT Std", serif;
// stylelint-enable value-keyword-case
$font-family-base: var(--#{$prefix}font-sans-serif);

$line-height-base: 1.5;
$line-height-xs: 0.85;
$line-height-sm: 1.25;
$line-height-md: 1.5;
$line-height-lg: 2;

// scss-docs-start type-variables
$lead-font-size: $font-size-base * 1.4;
$lead-font-weight: 600;
$small-font-size: $font-size-base * 1.1;

$hr-border-color: $black; // Allows for inherited colors
$hr-border-width: var(--#{$prefix}border-width);
$hr-opacity: 0.175;
// scss-docs-end type-variables

// scss-docs-start box-shadow-variables
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075);
// scss-docs-end box-shadow-variables

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1.6rem;

$transition-base: all 0.2s ease-in-out;
$transition-fade: opacity 0.15s linear;
// scss-docs-start collapse-transition
$transition-collapse: height 0.35s ease;
$transition-collapse-width: width 0.35s ease;
// scss-docs-end collapse-transition

// Components
//
// Define common padding and border radius sizes and more.

// scss-docs-start border-variables
$border-width: 1px;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
);
$border-style: solid;
$border-color: $gray-300;
$border-color-translucent: rgba($black, 0.175);
// scss-docs-end border-variables

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// scss-docs-start input-btn-variables
$input-btn-padding-y: 0.69rem;
$input-btn-padding-x: 2.34rem;
$input-btn-font-family: null;
$input-btn-font-size: $font-size-base * 1.2;
$input-btn-line-height: $line-height-base * 0.9;
// scss-docs-end input-btn-variables

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-family: $input-btn-font-family;
$btn-font-size: $input-btn-font-size;
$btn-line-height: $input-btn-line-height;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: var(--#{$prefix}border-radius-pill);
// scss-docs-end btn-variables

// Dropdowns
//
// Dropdown menu container and contents.

// scss-docs-start dropdown-variables
$dropdown-box-shadow: var(--#{$prefix}box-shadow);
// scss-docs-end dropdown-variables

// Navs

// scss-docs-start nav-variables
$nav-link-font-size: $font-size-base * 1.07;
$nav-link-color: $white;
$nav-border-color: rgba($white, 0.175);
$nav-link-font-weight: 600;
// scss-docs-end nav-variables

// Navbar

// scss-docs-start navbar-variables
$navbar-padding-y: 0.45rem;
$navbar-padding-x: null;
// scss-docs-end navbar-variables

// Close

// scss-docs-start close-variables
$btn-close-width: 0.75em;
$btn-close-height: $btn-close-width;
$btn-close-color: $primary;
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
$btn-close-opacity: 1;
// scss-docs-end close-variables

// Cards

// scss-docs-start card-variables
$card-team-height: 21.5rem;
// scss-docs-end card-variables

// Accordion

// scss-docs-start accordion-variables
$accordion-padding-y: 0.3rem;
$accordion-padding-x: 3rem;
$accordion-border-color: var(--#{$prefix}border-color-translucent);

$accordion-body-padding-y: $accordion-padding-y;
$accordion-body-padding-x: $accordion-padding-x;

$accordion-button-padding-y: $accordion-padding-y;
$accordion-button-padding-x: $accordion-padding-x;
$accordion-button-color: $primary;

$accordion-icon-width: 0.8rem;

$accordion-button-icon: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="13px" height="13px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.5,0C6.112,0 5.797,0.315 5.797,0.703L5.797,5.797L0.703,5.797C0.315,5.797 0,6.112 0,6.5C0,6.888 0.315,7.203 0.703,7.203L5.797,7.203L5.797,12.297C5.797,12.685 6.112,13 6.5,13C6.888,13 7.203,12.685 7.203,12.297L7.203,7.203L12.297,7.203C12.685,7.203 13,6.888 13,6.5C13,6.112 12.685,5.797 12.297,5.797L7.203,5.797L7.203,0.703C7.203,0.315 6.888,0 6.5,0Z" style="fill:#{$primary};fill-rule:nonzero;"/></svg>');

$accordion-button-active-icon: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="13px" height="2px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,0,-5.79732)"><path d="M12.297,5.797L0.703,5.797C0.315,5.797 0,6.112 0,6.5C0,6.888 0.315,7.203 0.703,7.203L12.297,7.203C12.685,7.203 13,6.888 13,6.5C13,6.112 12.685,5.797 12.297,5.797Z" style="fill:#{$pink};fill-rule:nonzero;"/></g></svg>');
// scss-docs-end accordion-variables

// Cover

// scss-docs-start cover-variables
$cover-single-page-height: 17.3rem;
// scss-docs-end cover-variables

// Search

// scss-docs-start Swiper-variables
$search-width: 18rem;
$search-input-padding-x: 0.5rem;
// scss-docs-end Swiper-variables

// Pagination

// scss-docs-start pagination-variables
$pagination-padding-y: 0.375rem;
$pagination-padding-x: 0.75rem;

$pagination-font-size: $font-size-base;
// scss-docs-end pagination-variables

// Swiper

// scss-docs-start Swiper-variables
$swiper-height: 38rem;
$swiper-pagination-padding-top: 1rem;
$swiper-padding-x: 1.7rem;
$swiper-button-size: 2.3rem;
$swiper-navigation-bottom: 4.6rem;
$swiper-navigation-font-size: 1.4rem;
// scss-docs-end Swiper-variables

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

// scss-docs-start zindex-stack
$zindex-swiper-image: 10;
$zindex-swiper-navigation: 20;
// scss-docs-end zindex-stack
